.bookContainer {
    width: 220px;
    margin: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.bookWrapper {
    box-shadow: 0 10px 10px;
}

.bookContainer:hover {
    transform: scale(1.04);
}

.bookImage {
    width: 220px;
    height: 320px;
}

.bookPrice {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    line-height: 18px;
    padding: 3px;
    background-color: rgba(202, 202, 195);
    color: rgb(0, 0, 0);
}

.bookDescription {
    height: 60px;
    padding: 20px 0 0 5px;
}

.bookAuthor {
    font-weight: 400;
}

.bookName {
    font-weight: 800;
}