.load {
    width: 150px;
    animation: rotate 2s infinite linear ;
    margin-top: 200px;
    min-height: calc(100vh - 280px);
}

@keyframes rotate {

    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}