
ul {
    list-style: none;
}

.menuName {
    font-size: 20px;
    margin-left: 20px;
    position: relative;
}

.subMenu {
    display: none;
    position: absolute;
    top: 20;
    width: 100px;
    background-color: red; 
}

.menuName:hover .subMenu {
    display: block;
}

.subMenu li {
    padding: 10px;
}

.subMenu li:hover {
    background-color: aqua;
}