.myBtn {
    width: 250px;
    padding: 5px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    border: 1px solid rgb(202, 202, 195);
    cursor: pointer;
    background-color: rgb(202, 202, 195);
    box-shadow: 0 3px 5px;
    transition: 0.3s;
}

.myBtn:hover {
    background-color: rgb(168, 168, 167);
    border: 1px solid rgb(168, 168, 167);
}