.myModal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.myModalContent {
    width: 600px;
    padding: 25px;
    background-color: white;
    border-radius: 10px;

}

.myModalActive {
    display: flex;
    align-items: center;
    justify-content: center;
}