.myInput {
    outline: none;
    width: 200px;
    height: 30px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid black;
    background: none ;
    font-size: 17px;
    padding: 10px;
}

.myInput:focus {
    box-shadow: 0 2px 5px;
}

.delet {
    position: absolute;
    right: 0px;
    top: 2px;
    padding: 2px;
    font-size: 15px;
    border: none;
    border: none;
    color: inherit;
    cursor: pointer; 
    background-color: transparent;
}

.wrapperMyInput {
    position: relative;
}