* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


#root {
    display: flex;
    justify-content: center;
}

.App {
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* HEADER */

.header {
    width: 100%;
    height: 120px;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(146,52,217,1) 100%);;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 10px 10px;
}

.header_wrapper {
    max-width: 600px;
    width: 100%;
    display: flex;
    justify-content:  space-between;
}

.wrapper_sort--category {
    display: flex;
    align-items: flex-end;
}


/* BOOKS-WRAPPER */

.books_wrapper {
    display: flex;
    flex-wrap: wrap;
}



/* BOOK */

.book_description {
    display: flex;
    justify-content: space-around;
}




/* FOOTER */

.footer {
    width: 800px;
    height: 100px;
    background-color: blueviolet;
}